<div class="flex flex-col flex-auto min-w-0">


    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">



        <div class="flex flex-wrap items-center justify-center w-full max-w-400">

            <!-- Card #1 -->
            <fuse-card [routerLink] = "'/home-menu/prestataires'" class="flex flex-col max-w-30 w-full filter-article">
                <img
                    class="object-cover"
                    src="assets/images/ui/cards/electricien.jpg"
                    alt="Card cover image">
                <div class="m-4">
                    <div class="text-l text-center font-semibold leading-tight">Carlage</div>
                </div>
            </fuse-card>


            <!-- Card #2 -->
            <fuse-card class="flex flex-col max-w-30 w-full filter-article">
                <img
                    class="object-cover"
                    src="assets/images/ui/cards/painter.png"
                    alt="Card cover image">
                <div class="m-4">
                    <div class="text-l text-center font-semibold leading-tight">Peinture</div>

                </div>
            </fuse-card>


            <!-- Card #3 - Flippable card -->
            <fuse-card
                class="flex flex-col max-w-30 w-full filter-article filter-interactive">

                    <img
                        class="object-cover"
                        src="assets/images/ui/cards/electriecien-1.png"
                        alt="Card cover image">
                    <div class="m-4 mb-4">
                        <div class="text-l text-center font-semibold leading-tight">Electricité</div>

                    </div>
            </fuse-card>


            <!-- Card #4 - Flippable card -->
            <fuse-card
                class="flex flex-col max-w-30 w-full filter-article filter-interactive">

                <img
                    class="object-cover"
                    src="assets/images/ui/cards/electricien.jpg"
                    alt="Card cover image">
                <div class="m-4 mb-4">
                    <div class="text-l text-center font-semibold leading-tight">Plomberie</div>

                </div>
            </fuse-card>

        </div>

    </div>

</div>
